<!DOCTYPE html>
<html>
<head>
    <title>Register</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"> </head>
<body>
    <h2>Register</h2>

    <form method="POST" action="/register">  
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required><br><br>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required><br><br>

        <label for="confirm_password">Confirm Password:</label>
        <input type="password" id="confirm_password" name="confirm_password" required><br><br>

        <input type="submit" value="Register">
    </form>
{% with messages = get_flashed_messages() %}
    {% if messages %}
        <div class="flashes">
            {% for message in messages %}
                <div class="flash">{{ message }}</div>
            {% endfor %}
        </div>
    {% endif %}
{% endwith %}

</body>
</html>

